<section class="container mx-auto my-3 w-90 w-sm-80 table-responsive-sm">
  <h2 class="d-flex flex-wrap justify-content-center text-center text-teal">
    <span class="w-100 w-sm-auto"><%= title %></span>
    <i class="bi bi-dash-lg mx-2 d-none d-sm-block"></i>
    <span class="w-100 w-sm-auto"><%= dbName %></span>
  </h2>

  <table class="table table-teal table-hover table-bordered">
    <thead class="sticky-sm-top">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Age</th>
        <th>Birth</th>
        <th><i class="bi bi-pencil"></i></th>
        <th><i class="bi bi-trash3"></i></th>
      </tr>
    </thead>
    <tbody id="showArea" class="table-group-divider text-truncate">

    </tbody>
    <caption class="text-center text-teal">Characters</caption>
  </table>
</section>
